@charset "UTF-8";

/* @font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
}

* {
	font-family: 'IBMPlexSansKR-Regular';
	border-box: box-sizing;
} */
a {
	text-decoration: none;
	display: block;
	color: rgb(95, 0, 128);
	cursor: pointer;
}

.userinfo {
	position: absolute;
	right: 0px;
	top: 5px;
	z-index: 20;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 12px;
}

.top-bar {
	position: relative;
	width: 1050px;
	height: 100px;
	margin: 0px auto;
	letter-spacing: -0.3px;
}

.bar {
	width: 1px;
	height: 13px;
	margin: 0px 12px;
	background-color: #d9d9d9;
}

.top-main {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	height: 63px;
	padding-top: 36px;
}

.btn1 {
	flex-shrink: 0;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.33;
	letter-spacing: normal;
	cursor: pointer;
	position: relative;
	margin-left: 22px;
	border: 0;
	outline: 0;
	background-color: white;
}

.search {
	box-sizing: border-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	/* position: absolute;
	left: 325px;
	top: -55px; */
	width: 400px;
	height: 48px;
	padding-left: 14px;
	border: 1px solid rgb(95, 0, 128);
	border-radius: 6px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
	margin-left: 60px;
	display: flex;
}

.sh {
	width: 300px;
	background-color: inherit;
	border: none;
	outline: none;
	font-size: 16px;
	letter-spacing: -0.33px;
}

.eheqhrl {
	position: relative;
	left: -50px;
	width: 30px;
	height: 30px;
	margin: 10px;
	bottom: 3px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==)
		0px 0px no-repeat;
	border: none;
	cursor: pointer;
	width: 30px;
}

.right-bar {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	/* position: absolute;
	right: -6px;
	top: -49px; */
	margin-left: 150px;
}

.my-loc {
	width: 36px;
	height: 36px;
	margin-right: 20px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K)
		50% 50% no-repeat;
	cursor: pointer;
}

.my-ch {
	width: 36px;
	height: 36px;
	margin-right: 20px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==)
		50% 50% no-repeat;
	cursor: pointer;
}

.my-sh {
	display: block;
	width: 36px;
	height: 36px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==);
	cursor: pointer;
}

.btn {
	border: none;
}

.main-menu {
	position: relative;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	width: 1050px;
	height: 56px;
	margin: 8px auto;
}

.cate {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	height: 100%;
	cursor: pointer;
}

.eqn1 {
	width: 16px;
	height: 14px;
	margin-right: 14px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==)
		0px 0px/16px 14px no-repeat;
		padding-bottom: 4px;
}

.eqn2 {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.3px;
	color: rgb(51, 51, 51);
}

.middle-menu {
	display: flex;
	margin-left: -50px;
}

.mh59 {
	height: fit-content;
	font-size: 16px;
	font-weight: 500;
	color: rgb(51, 51, 51);
	cursor: pointer;
	font-weight: 500;
	color: rgb(51, 51, 51);
	box-sizing: border-box;
}

li {
	list-style: none;
	box-sizing: border-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	width: 150px;
	height: 55px;
	line-height: 20px;
	text-align: center;
}

.ship {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.shipinfo {
	height: 32px;
	padding: 6px 16px;
	border-radius: 18px;
	border: 1px solid rgb(238, 238, 238);
	color: rgb(102, 102, 102);
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.32px;
	box-sizing: border-box;
}

.ship-time {
	font-weight: 500;
	color: rgb(95, 0, 128);
}

.59mnh {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	width: 150px;
	height: 55px;
	line-height: 20px;
	text-align: center;
	padding-top: 4px;
}

.w-100 {
	width: 100%;
	min-width: 1050px;
	height: 370px;
	object-fit: cover;
}

.join-main {
	min-width: 1050px;
	margin-top: 50px;
	margin-bottom: 60px;
	background-color: rgb(255, 255, 255);
}

.join-top {
	margin-bottom: 50px;
	font-size: 28px;
	line-height: 35px;
	font-weight: 500;
	text-align: center;
	letter-spacing: -1px;
	color: rgb(51, 51, 51);
}

.impo-join {
	box-sizing: border-box;
	width: 640px;
	margin: 0px auto;
}

.join-bar {
	padding-bottom: 10px;
	border-bottom: 2px solid rgb(51, 51, 51);
	font-size: 12px;
	color: rgb(102, 102, 102);
	line-height: 17px;
	text-align: right;
}

.join-star {
	color: rgb(238, 106, 123);
}

.joinview-main {
	padding: 0;
}

.join-info {
	display: inline-flex;
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
}

.left-join-info {
	width: 139px;
	padding-top: 12px;
}

.join-lab {
	font-weight: 500;
	color: rgb(51, 51, 51);
	line-height: 20px;
}

.join-inp {
	width: 100%;
	height: 46px;
	padding: 0px 11px 1px 15px;
	border-radius: 4px;
	border: 1px solid rgb(221, 221, 221);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: rgb(51, 51, 51);
	outline: none;
	box-sizing: border-box;
	height: 46px;
}

.ri-btn {
	width: 120px;
	margin-left: 8px;
}

.ri-btn>button {
	height: 44px;
	border-radius: 3px;
}

.ajax-btn {
	display: block;
	padding: 0px 10px;
	text-align: center;
	overflow: hidden;
	width: 100%;
	color: rgb(95, 0, 128);
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(95, 0, 128);
	font-weight: 500;
	font-size: 14px;
}

.no-show-join {
	width: 120px;
	margin-left: 8px;
	box-sizing: border-box;
}

.dli-info-join {
	display: block;
	margin-top: 10px;
	font-size: 12px;
	line-height: 18px;
	color: rgb(102, 102, 102);
	box-sizing: border-box;
}

.dli-btn-join {
	display: block;
	padding: 0px 10px;
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 44px;
	border-radius: 4px;
	color: rgb(95, 0, 128);
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(95, 0, 128);
	cursor: pointer;
}

.addr-join {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 4px;
	vertical-align: middle;
}

.join-gender {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	flex-direction: row;
}

.lab-gender {
	position: relative;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 12px 0px 9px;
}

.gender-join-rd {
	box-sizing: border-box;
	padding: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0px, 0px, 0px, 0px);
}

.cir-join {
	box-sizing: border-box;
	margin: 0;
	min-width: 24px;
	min-height: 24px;
	display: inline-block;
	position: relative;
	border-radius: 50%;
	background-color: white;
	border: 1px solid rgb(221, 221, 221);
}

.in-cir {
	width: 10px;
	height: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: white;
	box-sizing: border-box;
	margin: 0;
}

.han-gender {
	position: relative;
	font-size: 16px;
	margin-left: 12px;
	color: #333;
}

.bottom-join-bar {
	box-sizing: border-box;
	margin: 0;
	padding: 10px 0px;
	border-bottom: 1px solid rgb(51, 51, 51);
}

.bottom-check {
	padding: 0px;
	box-sizing: border-box;
	margin: 0;
}

.join-check {
	display: inline-flex;
	width: 100%;
	padding: 10px 0px 10px 20px;
	box-sizing: border-box;
	margin: 0;
}

.left-check {
	width: 139px;
	padding-top: 12px;
	box-sizing: border-box;
	margin: 0;
}

.check-alarm {
	font-weight: 500;
	color: rgb(51, 51, 51);
	line-height: 20px;
	box-sizing: border-box;
	margin: 0;
}

.check-all-join {
	display: flex;
	padding: 8px 0px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	box-sizing: border-box;
	margin: 0;
}

.join-all {
	align-items: flex-start;
	flex-direction: column;
	padding-top: 12px;
	box-sizing: border-box;
	margin: 0;
}

.check-lab1 {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	vertical-align: top;
	line-height: normal;
	color: rgb(51, 51, 51);
	padding: 0px;
	font-weight: 500;
	font-size: 18px;
}

.inp-check1 {
	overflow: hidden;
	position: absolute;
	clip: rect(0px, 0px, 0px, 0px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	box-sizing: border-box;
	padding: 0;
}

.check-img1 {
	border: 0;
	vertical-align: top;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 12px;
	box-sizing: border-box;
}

.wkxnfl {
	font-size: 12px;
	color: rgb(102, 102, 102);
	padding-top: 4px;
	padding-left: 36px;
	box-sizing: border-box;
	margin: 0;
}

.rotorl1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box;
	margin: 0;
}

.condiagree {
	position: relative;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	vertical-align: top;
	line-height: normal;
	color: rgb(51, 51, 51);
	padding: 0px;
	font-size: 14px;
	box-sizing: border-box;
	margin: 0;
}

.rotorl2 {
	overflow: hidden;
	position: absolute;
	clip: rect(0px, 0px, 0px, 0px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	box-sizing: border-box;
	margin: 0;
}

.rotorl3 {
	padding-left: 5px;
	color: rgb(153, 153, 153);
	box-sizing: border-box;
	margin: 0;
	font-size: 14px;
}

.modal-join1 {
	padding-right: 22px;
	color: rgb(95, 0, 128);
	letter-spacing: 0px;
	box-sizing: border-box;
	margin: 0;
	font-size: 14px;
}

.modal-join1::after {
	content: "";
	display: inline-block;
	margin-left: 4px;
	width: 6px;
	height: 9px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==)
		50% 50%/6px 9px no-repeat;
}

.last-join-btn {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	border-top: 1px solid rgb(247, 247, 247);
	padding: 40px 0px;
	box-sizing: border-box;
	margin: 0;
}
.sub-join{
	display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
}
.market-btn::after{
	content: "";
    position: absolute;
    width: 1px;
    height: 14px;
    margin-top: 5px;
    margin-left: 11px;
    background-color: rgb(226, 226, 226);
}
